./pytorchExample/venv/
./pytorchExample/.idea/
.idea
*.pkl
/pytorch/TrainingAClassifier/data
data
/Reproduction/Video-based AI for beat-to-beat assessment of cardiac function/ATT00003.html
/Reproduction/Video-based AI for beat-to-beat assessment of cardiac function/EchoNet-Dynamic.zip
/Reproduction/Video-based AI for beat-to-beat assessment of cardiac function/EchoNet-Dynamic
