./pytorchExample/venv/
./pytorchExample/.idea/
.idea
*.pkl
/pytorch/TrainingAClassifier/data
data
/Reproduction/Video-based AI for beat-to-beat assessment of cardiac function/ATT00003.html
/Reproduction/Video-based AI for beat-to-beat assessment of cardiac function/EchoNet-Dynamic.zip
/Reproduction/Video-based AI for beat-to-beat assessment of cardiac function/EchoNet-Dynamic
EchoNet-Dynamic
.vscode
a4c-video-dir
ABIDE_pcp
/Reproduction/population-gcn/linear-graph-convolution-c6c3fb05912cbb5d04163601d3ca5ad9bba3923e.zip
